* {
    height: 100%;
 }
 .containerBkgImage{
     background-image: url(../fondo-promo.jpg);
     background-size: cover;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .imgPrmo{
     width: 70%;
     height: 25%;
 }
 @media (max-width:2560px) {
    .imgPrmo{
        width: 65%;
        height: 20%;
    }
}
 @media (max-width:1440px) {
    .imgPrmo{
        width: 70%;
        height: 22%;
    }
}
 @media (max-width:1025px) {
     .imgPrmo{
         width: 100%;
         height: 15%;
     }
 }
 @media (max-width:1024px) {
    .imgPrmo{
        width: 80%;
        height: 15%;
    }
}
 @media (max-width:768px) {
     .imgPrmo{
         width: 100%;
         height: 15%;
     }   
 }
 @media (max-width:550px) {
    .imgPrmo{
        width: 100%;
        height: 10%;
    }   
}
@media (max-width:540px) {
    .imgPrmo{
        width: 80%;
        height: 10%;
    }   
}
 @media (max-width:450px) {
     .imgPrmo{
         width: 95%;
         height: 8%;
     }   
 }
 @media (max-width:375px) {
     .imgPrmo{
         width: 95%;
         height: 8%;
     }   
 }
 @media (max-width:320px) {
     .imgPrmo{
         width: 95%;
         height: 8%;
     }   
 }