@font-face {
  font-family: "FatFrankRegular";
  src: url("/fonts/RoasterOriginal-Regular.eot");
  src: url("./fonts/RoasterOriginal-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/RoasterOriginal-Regular.woff2") format("woff2"),
    url("./fonts/RoasterOriginal-Regular.woff") format("woff"),
    url("./fonts/RoasterOriginal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FatFrankMedium";
  src: url("./fonts/GothamRounded-Medium.eot");
  src: url("./fonts/GothamRounded-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/GothamRounded-Medium.woff2") format("woff2"),
    url("./fonts/GothamRounded-Medium.woff") format("woff"),
    url("./fonts/GothamRounded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FatFrankBold";
  src: url("./fonts/GothamRounded-Bold.eot");
  src: url("./fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/GothamRounded-Bold.woff2") format("woff2"),
    url("./fonts/GothamRounded-Bold.woff") format("woff"),
    url("./fonts/GothamRounded-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FatFrankBoldItalic";
  src: url("./fonts/GothamRounded-BoldItalic.eot");
  src: url("./fonts/GothamRounded-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/GothamRounded-BoldItalic.woff2") format("woff2"),
    url("./fonts/GothamRounded-BoldItalic.woff") format("woff"),
    url("./fonts/GothamRounded-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FatFrank";
  src: url("./fonts/GothamRounded-MediumItalic.eot");
  src: url("./fonts/GothamRounded-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/GothamRounded-MediumItalic.woff2") format("woff2"),
    url("./fonts/GothamRounded-MediumItalic.woff") format("woff"),
    url("./fonts/GothamRounded-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: FatFrankBook;
  src: url("./fonts/GothamRounded-Book.eot");
  src: url("./fonts/GothamRounded-Book.eot?#iefix") format("opentype"),
    url("./fonts/GothamRounded-Book.woff2") format("woff2"),
    url("./fonts/GothamRounded-Book.woff") format("woff"),
    url("./fonts/GothamRounded-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FatFrankLightItalic;
  src: url("./fonts/GothamRounded-LightItalic.eot");
  src: url("./fonts/GothamRounded-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/GothamRounded-LightItalic.woff2") format("woff2"),
    url("./fonts/GothamRounded-LightItalic.woff") format("woff"),
    url("./fonts/GothamRounded-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: FatFrankLight;
  src: url("./fonts/GothamRounded-Light.eot");
  src: url("./fonts/GothamRounded-Light.eot?#iefix") format("opentype"),
    url("./fonts/GothamRounded-Light.woff2") format("woff2"),
    url("./fonts/GothamRounded-Light.woff") format("woff"),
    url("./fonts/GothamRounded-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FatFrank Book";
  src: url("./fonts/GothamRounded-BookItalic.eot");
  src: url("./fonts/GothamRounded-BookItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/GothamRounded-BookItalic.woff2") format("woff2"),
    url("./fonts/GothamRounded-BookItalic.woff") format("woff"),
    url("./fonts/GothamRounded-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("./fonts/MyriadPro-Regular.eot");
  src: url("./fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MyriadPro-Regular.woff2") format("woff2"),
    url("./fonts/MyriadPro-Regular.woff") format("woff"),
    url("./fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FatFrankRegular;
  src: url("./fonts/FatFrank-Regular.eot");
  src: url("./fonts/FatFrank-Regular.eot?#iefix") format("opentype"),
    url("./fonts/FatFrank-Regular.woff2") format("woff2"),
    url("./fonts/FatFrank-Regular.woff") format("woff"),
    url("./fonts/FatFrank-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: GothamBook;
  src: url("./fonts/Gotham-Book.eot");
  src: url("./fonts/Gotham-Book.eot?#iefix") format("opentype"),
    url("./fonts/Gotham-Book.woff2") format("woff2"),
    url("./fonts/Gotham-Book.woff") format("woff"),
    url("./fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: CrackerBrusher;
  src: url("./fonts/tang_font/MlkWsnCRACKERSBRUSHER.otf");
  src: url("./fonts/tang_font/MlkWsnCRACKERSBRUSHER.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*--------ANIMACIONES-------------*/

li {
  animation-duration: 3s;
}

.insta-img {
  animation-delay: 4s;
  animation-iteration-count: 5;
}

.card {
  animation-delay: 0.3s;
  border-radius: 1rem ;
}

.premios {
  animation-iteration-count: 3;
}

/*-----------------------*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 10;
  font-size: 14px;
  line-height: 1.5;
  font-family: oreo-sans-medium;
  margin-left: -110px;
  margin-top: 15px;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid white;
  position: absolute;
  top: -9px;
  right: 40px;
}

.ant-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-size: 31px !important;
  height: auto !important;
}

body,html {
  background-image: url("images/FondoPromo-ALTA.jpg");
  background-repeat: repeat-y;
  background-size:cover;
  /*  background-position: bottom;
  background-size: cover;*/
  color: white;
  overflow-x: hidden;
  width: 100% !important;
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagesBrands {
  margin: auto;
  display: list-item;
  text-align: center;
}

img.logoBrand {
  width: 20%;
  text-align: center;
  margin: auto;
}
span.bm-burger-bars {
  background-color: #169665 !important;
  border: 1px;
}

span.bm-burger-bars:nth-child(1){
  position: absolute;
  height: 10% !important;
  left: 0px;
  right: 0px;
  top: 20% !important;
  opacity: 1;
  width: 66% !important;
  margin: auto !important;
}
span.bm-burger-bars:nth-child(2){
  position: absolute;
  height: 10% !important;
  left: 0px;
  right: 0px;
  top: 44% !important;
  opacity: 1;
  width: 66% !important;
  margin: auto !important;
}
.ant-select-selection-selected-value{
  font-size: 15px !important;
}
span.bm-burger-bars:nth-child(3){
  position: absolute;
  height: 10% !important;
    left: 0px;
    right: 0px;
    top: 70% !important;
    opacity: 1;
    width: 66% !important;
    margin: auto !important;
}

.productsBox {
  max-width: 800px;
  padding-bottom: 30px;
}

.container.productsBg {
  margin-top: -40px;
  padding: 25px 0px;
  margin-bottom: 30px;
}

img.todos {
  width: 100%;
  margin: auto;
}

h1,
h2 {
  font-family: oreo-sans-black;
  text-align: center;
}

p {
  font-family: FatFrank Book;
}

.textBlock {
  text-align: center;
  line-height: 10px;
  padding-top: 15px;
  font-family: sans-serif;
  color: #e1251b;
}

p.titStrong {
  text-align: center;
  font-weight: bold;
  font-family: FatFrank;
  padding-top: 10px;
  color: #ffd335;
}

.col.md-4.tabLeft {
  color: white;
  text-align: left;
}

/*--Menu---*/

button.ant-btn.cerrarSesion {
  width: 92%;
}

button.ant-btn.cerrarSesion:active,
button.ant-btn.cerrarSesion:hover {
  background: #e25a85;
  color: white;
}

.row.menu-app {
  margin-top: -10px;
  margin-left: 20px;
}

#navbar {
  font-family: oreo-sans-bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  text-align: left;
  justify-content: center;
}

.sesion-icon {
  display: none;
}

.tittleBox {
  position: relative;
}

.card-form {
  border-radius: 15px;
  width: 100%;
}

.tittle {
  background-color: #f39906;
  position: absolute;
  right: 4% !important;
  margin-top: 10px;
  top: 45%;
  /* border-right: solid 3px #FFB535; */
  /*  background: rgb(238,152,0);
  background: -moz-linear-gradient(90deg, rgba(238,152,0,0) 9%, rgba(238,152,0,1) 56%);
  background: -webkit-linear-gradient(90deg, rgba(238,152,0,0) 9%, rgba(238,152,0,1) 56%);
  background: linear-gradient(90deg, rgba(238,152,0,0) 9%, rgba(238,152,0,1) 56%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ee9800",endColorstr="#ee9800",GradientType=1); */
}
@media (max-width: 1187px) {
  .tittle {
    display: none;
  }
}
.tittle h1 {
  font-family: FatFrankRegular;
  color: white;
  vertical-align: middle;
  margin-bottom: 1px;
  text-transform: uppercase;
  font-weight: inherit;
  padding: 10px;
  font-size: 53px;
  max-width: 600px;
  text-align: right;
  line-height: 50px;
}

li {
  padding-right: 10px;
}

.titProductos {
  font-family: FatFrank;
  padding: 0px 0px 10px 20px;
}

li.num.numFaq.pb-3 {
  font-size: 18px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-nav {
  flex-direction: unset;
  justify-content: center;
  display: flex;
  -ms-flex-direction: row;
}

a {
  color: white;
}

li.slider-slide.slide-visible {
  padding-top: 30px;
}

.brandBox {
  max-width: 120px;
  margin: auto;
}

.marcasMobile {
  padding-bottom: 30px;
}

img.brand-logo {
  width: 110%;
}
@media (max-width: 425px){
  img.brand-logo{
    width: 100%;
    margin-top: 11px;
  }
}

.brand-content {
  text-align: left;
}

a:hover {
  color: black;
  text-decoration: none;
  text-shadow: none;
}

.row.row-center.pack {
  display: flex;
  align-items: flex-start;
}
a.active {
  text-decoration: none;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
  color:#fca10a
}
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #fca10a !important;
}
.b-menu:hover {
  color: black;
  text-decoration: none;
  text-shadow: none;
}

a.b-item.b-menu {
  padding: unset;
}

li.animated.swing {
  padding: unset;
}

img.menuImg {
  width: 85%;
}

img.cintaimg.big.wizard {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -24px;
  background: unset;
}

li.animated.swing.liMenu {
  text-align: right;
}
.mobile{
  display:none
}
div#navbar {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding: unset;
}

.col-sm-10.col-6.pb-3.menucol {
  padding: unset;
}

.lupa {
  position: relative;
  z-index: 5;
  width: 90%;
  margin-left: 10px;
  right: 0px;
}

img.homeLogImg {
  width: 100%;
  display: block;
}
.containerLogoHome {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerMobileLogoHome {
  display: none;
}

.inlineButton {
  display: inline-block;
  margin: 15px !important;
}

/* .partBox{
    display: none;
} */

/* .imgBoxHome {
  max-width:530px;
  margin: auto;
} */
.imgBoxHomeBanner {
  max-width: 600px;
  margin: auto;
}
.imgPremios{
  width: 40% !important;
}
@media(max-width:1024px){
  .imgPremios{
    width: 45% !important;
  }
}
@media(max-width:768px){
  .imgPremios{
    width: 55% !important;
  }
}
@media(max-width:425px){
  .imgPremios{
    width: 91% !important;
  }
  #botonParticiparPremios{
    width: 46vw !important;
  }
  #botonParticiparPremios span{
    font-size: 6vw !important;
  }
}
img.imgBtnMenu.participarImg {
  width: 100%;
  margin-top:25px
}

a.btn.btn-lg.boton-recetas.new-cod {
  width: 230px;
}

.homeMenuBtn.participarBox {
  /* position: absolute;
  top: 77%;
  right: 25%;
  height: 44px; */
  margin-top: -25px;
}

/* @media (max-width: 1199px) {
  .homeMenuBtn.participarBox {
    right: 23% !important;
  }
} */
/* 
@media (max-width: 1025px) {
  .homeMenuBtn.participarBox {
    right: 19% !important;
  }
} */
.homeMenuBtn.participarBox button {
  background-color: #169564 !important;
  font-size: 28px;
  height: 100% !important;
}
/* @media (max-width:320px){
  .homeMenuBtn.participarBox button{
    left: 19px !important;
  }
} */

.homeMenuBtn button {
  /* min-width: 150px !important;   */
}
.insideParticiparBox button {
  font-size: 28px !important;
  /* line-height: 28px; */
}

li.como {
  text-align: center;
  width: 152px;
  margin-top: -5px;
}

.homeMenuBtn {
  text-align: center;
  margin: auto;
}

form.ant-form.ant-form-horizontal {
  position: relative;
  z-index: 10;
}

img.bottomImg {
  width: 100%;
}
.cookieHome {
  width: 75%;
}
.cardcontact{
  padding: 60px;
}
.bottomBox {
  position: absolute;
  bottom: -50px;
  right: 0;
}
.bts{
  line-height: 0 !important;
  height: 40px !important;
  font-size: 22px !important;
}

div#sheet-participando {
  position: relative;
  z-index: 10;
}

div#winnerBox {
  position: relative;
  z-index: 10;
}

a.b-item3 {
  background-image: url(./images/nube3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 2px;
}

li.animated.swing.liMenu.participar {
  margin-right: -20px;
}
.centrado{
  margin-top: 20px;
}
.row.mx-auto.justify-content-md-center.centrado.my-footer {
  z-index: 50;
  position: relative;
  background: unset;
}

a.b-participar {
  background: #e25a85;
  border-radius: 8px;
  width: 130px;
  height: 40px;
  vertical-align: middle;
  line-height: 20px;
}

img.sesion-img {
  width: 40px;
  margin-top: -10px;
}
/*--Banner---*/

img.banner-img {
  width: 100%;
}

.btn-home {
  background: #e25a85;
  color: white;
  font-family: oreo-sans-bold;
  box-shadow: 0px 2px 3px 1px #0000006b;
}

.btn-home:hover {
  box-shadow: none;
}

.crea-bn {
  max-width: 450px;
}

.let-bn {
  max-width: 390px;
  text-align: center;
}

.part {
  padding: 6px 10px;
  border-radius: 8px;
}

.btn-line.rose {
  background: #f781a6;
  margin-top: -3px;
}
/*--Galeria-recetas---*/

.caja-insta {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.caja-insta.recetas {
  max-width: 400px;
}

.full-w {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  /* background: white;*/
}

span.tblanco {
  color: white;
}

.blanco {
  background: white;
}

h3.tit-home {
  font-family: oreo-sans-bold;
  font-size: 46px;
  line-height: 55px;
  color: #51c6f9;
  text-align: center;
}

.galleria-home {
  /* background-color: #CDEAFD; */
  /* background-image: url(./images/terra-05.png); */
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.box-img-cookiess {
  max-width: 650px;
  max-height: 600px;
}

img.receta-img {
  width: 100%;
}

.receta {
  max-width: 350px;
  text-align: center;
}

.col.titulo {
  padding-top: 40px;
}

.card {
  border: none;
}

.card-body {
  flex: unset;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: white;
  font-family: oreo-sans-medium;
}

.card-img-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  min-height: 1px;
}

/*--Bottom-home--*/

.btn-line.lblue {
  background: #85ddfb;
  margin-top: -2px;
}

.ant-upload-list.ant-upload-list-text {
  display: none !important;
}

.boton-recetas {
  color: white;
  font-family: FatFrank;
  text-transform: lowercase;
  border: #8e1a14;
  border-style: solid;
  border-width: 0.5px;
  margin: 0 10px;
  background: linear-gradient(180deg, #e2251c, #670404f0);
  width: 150px;
  border-radius: 10x;
  box-shadow: inset 0px 2px 1px 0px #ffffffa6;
}
.btn-registrarse {
  font-size: 16px;
}
.foto-preview-compartir {
  width: 90%;
}
.foto-preview-compartir img {
  width: 122%;
  margin-bottom: 6px;
}
.centrado {
  text-align: start;
}

.caja-btn-recetas {
  justify-content: center;
  padding: 50px 0 20px 0;
}

.btn:hover {
  text-shadow: none;
}

.btn:hover {
  color: white;
  text-decoration: none;
  background: linear-gradient(180deg, #a93a35, #560808f0);
  border: unset;
}
.btn-home-r {
  box-shadow: 0px 2px 4px 0px #000b3e73;
  font-size: 25px;
}

.btn-home-r:hover {
  box-shadow: none;
}
.whiteSquare {
  background: white;
  -webkit-clip-path: polygon(3% 5%, 98% 0, 100% 100%, 0 96%);
  clip-path: polygon(3% 5%, 98% 0, 100% 100%, 0 96%);
  color: black;
  padding: 20px 25px;
  max-width: 500px;
  box-shadow: inset 0px -4px 0px 0px #a5120d;
}

.row.row-center.third.pt-4 {
  padding-right: 40px;
}

.whiteSquare.big {
  height: 460px;
  padding-top: 75px;
}

.navbar-brand {
  max-width: 290px;
}

.ant-form-item {
  margin-bottom: 10px;
}
.row.row-center.second.pt-2 {
  padding-left: 80px;
}
.pos {
  padding-left: 16px !important;
}
.number {
  font-family: FatFrankRegular;
  color: #fff;
  font-size: 47px;
  padding: 4px 0px;
  /* line-height: 1.2em; */
  background-image: url(/static/media/logoparticipa.811177ea.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  /* height: 100%; */
  /* -webkit-text-stroke: 2px; */
  /* -webkit-text-stroke: 3px white; */
}
.numberCenter {
  background-position: center;
  background-size: auto;
}

.whiteSquare.third {
  clip-path: polygon(0 12%, 100% 7%, 98% 96%, 4% 100%);
  height: 190px;
}

.roaster.red.tit {
  color: #e1251b;
  font-family: FatFrank;
  text-transform: lowercase;
  font-size: 35px;
}
.yellow {
  color: #169564;
  font-size: 22px;
  text-transform: lowercase !important;
}
.lineheight {
  line-height: 35px;
}
.roaster {
  font-family: FatFrank;
}
.roaster.tit {
  color: #fca10a;
  font-family: FatFrankRegular;
  text-transform: initial;
  font-size: 28px;
  line-height: 24px;
  margin-bottom: 15px;
}

.gotham.red.text {
  color: #8a4f3b;
  font-family: FatFrank;
  font-size: medium;
}
.gotham.text {
  color: #fca10a;
  font-family: GothamBook;
  font-size: medium;
}
.regularTextSize {
  font-size: 19px !important;
}
.barraDividir {
  height: 2px;
  width: 100%;
  background-color: #ffd535;
}
.itemSeparator {
  margin: 30px;
  width: 100%;
  padding: 15px 20px 15px 15px;
  border-radius: 15px;
}

.btnVolver {
  width: 140px !important;
  /*font-size: 22px !important;
  height: 40px !important; */
}
.card-num {
  background-color: #169665;
  position: absolute !important;
  top: -20px;
}
.roaster.red.tit.small {
  font-size: 28px;
  line-height: 25px;
  padding-bottom: 10px;
}

img.cintaimg.big {
  margin-top: 20px;
}

.star {
  color: #ffb535;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.info {
  color: black;
  font-family: FatFrank;
  padding-top: 25px;
}

.whiteBox {
  display: flex;
  justify-content: center;
}

.row.justify-content-md-center.galleria-home.full-w.small {
  margin-top: 80px;
}

img.cintaimg {
  position: absolute;
  /* margin-top: -120px; */
  z-index: 3;
  margin-top: -7px;
  text-align: center;
  align-items: center;
  max-width: 170px;
}

.bannerBox {
  max-width: 500px;
}

.textPremios {
  font-family: FatFrank;
  font-size: 20px;
  text-align: center;
  /*padding-bottom: 30px;*/
}

.awardName {
  color: white;
  font-family: FatFrank;
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 20px;
  line-height: 20px;
}

.row.pt-2.row-center.row-premios {
  padding-bottom: 15px;
}

.container.red {
  background: #e1251b;
}

.imgBoxAward {
  max-width: 200px;
  margin: auto;
}

.lettering.premioImg {
  width: 100%;
}

.imgBoxAward.sco {
  max-width: 150px;
}

.imgBoxAward.bag {
  max-width: 130px;
}

.imgBoxAward.tab {
  max-width: 130px;
}

p.pregunta.faqMin {
  text-transform: lowercase;
}

.col.md-4.tabCenter {
  text-align: center;
  color: white;
}

.col.md-4.tabCenter.header {
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.videoclight {
  max-width: 510px;
  max-height: 310px;
}

/*--Footer--*/

.txt-footer .b-ft {
  font-family: FatFrank;
  color: #093b93;
}

.row.rTit {
  padding: 10px 0px 20px;
  font-size: 18px;
  font-family: FatFrank;
}

.copy {
  color: black;
  padding-top: 29px;
  text-align: center;
}

.copy p {
  font-family: FatFrankRegular;
  color: white !important;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: #f08e00 !important;
}

.row.justify-content-md-center.galleria-home.full-w.small {
  position: relative;
  height: 100px;
}

.txtFooter {
  color: #169665 !important;
  padding-top: 40px;
}
.txtborder {
  border-bottom: 2px solid #169665;
  text-decoration: none;
  border-bottom-width: 1px;
  color: #169665;
  width: 75%;
  font-family: FatFrankRegular;
  font-size: 22px;
  line-height: normal;
}

.underline{
  position: relative;
}
.underline::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #008ecd;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.underline:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}
.borderContact {
  height: 53px;
}
.containerInside {
  margin-top: 50px;
  border-radius: 15px;
  margin-bottom: 35px;
  width: 83%;
}
a.b-ft {
  color: #e2211c;
}
.btnDragg {
  display: flex;
  justify-content: start;
}
.ganador-txt {
  font-size: 44px !important;
  line-height: 44px !important;
}

p.resp.txt-dato.ganador-txt {
  max-width: 550px;
  margin: auto;
}

footer {
  height: 100%;
  background-position: top;
  color: white;
  padding: unset;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

img.foot-img {
  width: 100%;
}

button.btn.btn-shop {
  color: white;
  background: #a65ab1;
  font-family: oreo-sans-bold;
  margin-top: 25px;
  border-radius: unset;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px 25px 15px 25px;
}

.ft-wrapper {
  background: white;
  height: 100%;
  /* margin-top: 40px; */
}

.col-sm-24.col-xs-24.bot {
  padding-top: 15px;
}

.row.mx-auto.justify-content-md-center.full-slide {
  padding-top: 20px;
}

.row.mx-auto.justify-content-md-center.full-slide {
  /*padding: 15px 200px 30px;*/
  padding-bottom: 30px;
}

.brand-img {
  width: 100%;
}

.brand-box {
  max-width: 90px;
  margin: auto;
}

.my-footer {
  background-color: white;
  align-items: center;
}

.row.mx-auto.justify-content-md-center.centrado.my-footer {
}

button:focus {
  outline: 0;
}

img.imgBtnMenu.mini {
  max-width: 120px;
  padding: 5px;
}

img.imgBtnMenu.mini.big {
  max-width: 200px;
}

.bm-item.homeMenuBtn:focus {
  border: unset;
  outline: 0;
}

img.card-img-top {
  bottom: 0;
  margin-top: -95px;
  margin-bottom: -2px;
}
img.card-img-top-gallery {
  bottom: 0;
  margin-top: -0;
}

.row.row-center.banner {
  padding-bottom: 20px;
}

i.fa.fa-shopping-cart {
  padding-bottom: 12px;
  padding-right: 10px;
}

span.txt-footer {
  color: #e1251b;
  font-size: 20px;
  /* font-family: none; */
  /* font-weight: 900; */
  display: inline-block;
  margin: 0 10px;
}

a.b-ft {
  font-family: oreo-sans-bold;
  font-size: 22px;
}

a.b-ft:hover {
  text-decoration: none;
  color: #ee3b8f;
}

.imgEcom {
  width: 30%;
}

.caja-ecom {
  max-width: 150px;
}
.dropdown-content.dropdownComprar {
  margin: auto;
  border-radius: unset;
  background: #a65ab1;
  margin-top: -25px;
  position: relative;
  margin-left: unset;
  margin-right: unset;
  box-shadow: unset;
}

.caja-ecom {
  max-width: 130px;
  text-align: center;
  background: white;
  border-radius: 14px;
  padding: 5px;
  margin: auto;
}

.dBoton:hover {
  margin-top: -155px;
}

.dropdown-toggle::after {
  display: none;
}

.btn-line {
  background: #c47fcc;
  height: 3px;
  margin: auto;
  margin-top: -5px;
  margin-bottom: 5px;
  border-radius: 15px;
}
/*como-participar*/

span.bold-text {
  font-family: oreo-sans-bold;
  font-weight: bold;
  font-size: 42px;
  color: rgb(255, 255, 255);
  line-height: 40px;
}

.light-text.first-txt.txt {
  font-size: 26px;
}

span.bold {
  font-family: oreo-sans-bold;
}

span.bold-t {
  font-family: oreo-sans-bold;
  font-size: 23px;
}

.t-yellow {
  color: #ffda9b;
  font-size: 17px;
}
.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0 !important;
}
.ant-menu-dark {
  background: #ffb535 !important ;
}
.ant-btn-primary {
  background-color: #ffb535 !important;
}

.light-text.txt {
  font-family: oreo-sans-medium;
  font-size: 23px;
  line-height: 30px;
  color: #50c6fa;
}

.small-txt {
  font-family: oreo-sans-bold;
  font-size: 15px;
  line-height: 17px;
  color: white;
  margin-bottom: -5px;
}

span.light2-text.new {
  font-size: 16px;
  margin-top: -10px;
}

.light-t.t-yellow {
  line-height: 23px;
}

span.light2-text {
  line-height: 32px;
  color: white;
}

.left.yellow-letter {
  max-width: 360px;
  margin: auto;
}

img.img-y-letter {
  width: 100%;
}

img.img-app-logo {
  width: 100%;
}

.left.app-oreo {
  max-width: 400px;
  margin: auto;
}
.lazy-load-image-background {
  /* height: calc(59% - 68px) !important; */
}
.selected .success::placeholder {
  font-family: FatFrankRegular !important;
}
.caja-como {
  justify-content: center;
}

.row-galleta {
  align-items: center;
}

img.img-galleta {
  width: 100%;
}

.right.galleta {
  max-width: 200px;
}

span.bold-text.new {
  font-size: 18px;
  line-height: 2px;
}

/*-----FAQ----*/
p.resp {
  font-family: oreo-sans-medium;
  text-align: justify;
  color: white;
}

.tit {
  font-family: oreo-sans-black;
  font-size: 50px;
  color: #ffda9b;
}
.tit2 {
  font-family: oreo-sans-black;
  font-size: 40px;
  color: #ffda9b;
  text-align: left;
}

li.numFaq {
  color: #ffda9b;
}

li.num {
  font-family: FatFrank;
  font-size: 30px;
  color: white;
}

p.pregunta {
  font-size: larger;
  font-family: FatFrank;
  color: white;
}

/*-----wizard------*/

.steps ul {
  padding-left: unset;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.steps ul li {
  position: relative;
  list-style: none;
  display: inherit;
  align-items: center;
  margin-right: 3%;
}

.msg {
  color: white;
}
.card-imgs {
  width: 85%;
}
.mini-brand-img {
  max-width: 100%;
}
.dots {
  max-width: 57%;
  vertical-align: middle;
}

.step {
  font-size: xx-large;
  font-family: oreo-sans-bold;
  text-align: center;
  vertical-align: middle;
}

span.step {
  top: 13%;
  position: absolute;
}

img.step-img {
  max-width: 100%;
}

img.mini-brand-img {
  max-width: 100px;
}

.forgot {
  font-family: FatFrank;
  text-shadow: none;
  text-align: center;
}

.forgot:hover {
  color: #51c6f9;
}

button.ant-btn.forgot {
  background: none;
  border: none;
  color: #e1251b;
  margin-top: 15px;
  font-family: FatFrank;
}
button.ant-btn.forgot:hover {
  color: #e1251b;
}

.white-tit {
  color: #e1251b;
}

span.step {
  position: absolute;
  left: 28%;
  top: 15%;
  text-align: center;
  justify-content: center;
}

.codText {
  color: #ffda9b;
  font-family: oreo-sans-medium;
  line-height: 16px;
  margin-bottom: 5px;
}

.titCod {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #169665;
}

.codBox {
  vertical-align: middle;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.wizard {
  position: relative;
  margin-bottom: 0;
  margin-bottom: 45px;
}

.codImg {
  max-width: 100px;
}

/*crema wizard*/
img.mancha {
  position: absolute;
  z-index: -1;
  max-width: 220px;
}

img#m-right {
  right: -38px;
  top: 60px;
}

img#m-top {
  top: -25px;
  left: 32%;
  max-width: 280px;
}

img#m-left {
  left: -56px;
  bottom: 10%;
  max-width: 280px;
}

img#m-bottom {
  bottom: -35px;
  right: 30%;
}

form {
  font-family: FatFrank;
}

.ant-form-item-label > label {
  color: #169665 !important;
  font-family: FatFrankRegular !important;
}

.centrado {
  justify-content: center;
}

/*---------MODAL--------*/

.sesionmd {
  top: 25px;
  right: 10%;
  left: inherit;
}

.ant-modal-content {
  background: white;
  color: #e1251b;
  font-family: FatFrank;
}

.ant-modal-title {
  font-family: FatFrank;
  font-size: 20px;
  color: #e1251b;
  text-align: center;
  padding-top: 20px;
}

.ant-modal-close-x {
  color: E1251B;
}

.ant-modal-footer {
  border: none;
  padding-top: inherit;
}

.ant-modal-header {
  border-bottom: none;
  background: none;
}
.ant-modal-body {
  padding-bottom: 10px;
}

button.ant-btn.btn.btn-lg.boton-recetas.modal-btn.ant-btn-lg:hover {
  background: #51c6f9;
  color: black;
  box-shadow: none;
}

.modalsesion > .ant-modal-footer {
  background: white;
}

hr {
  border: none;
  border-top: 2px dotted #000;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

table {
  font-family: FatFrank;
}

.container.bg {
  padding-right: 30px;
}

span.correo {
  color: #ffda9b;
}

.linkTxt {
  color: #ffda9b;
  text-shadow: unset;
}
.linkTxt:hover {
  color: #50c6fa;
}

table.table {
  color: white;
}
.th {
  color: wheat;
}

td.premio {
  max-width: 650px;
  font-family: oreo-sans-medium;
}

.forgot-ses {
  text-shadow: none;
  text-decoration: underline;
}

.bold-txt {
  font-family: oreo-sans-bold;
}

.pregunta.cond {
  font-size: 25px;
}

.conds {
  padding-top: 20px;
  max-width: 950px;
  margin: auto;
  color: white;
}

p.resp.txt-dato.reg-tit,
.titCod {
  font-size: 50px;
  color: #169665 !important;
  padding-top: 35px;
  font-family: FatFrankRegular;
}

/*------CONTACTO-------*/
p.resp {
  font-size: 25px;

  text-align: justify;
  color: #169665 !important;
  font-size: 17px;
}
.contacto {
  text-align: center;
  max-width: 750px;
  margin: auto;
  border-radius: 15px;
}

.contactoCartel {
  line-height: 42px !important;
  font-size: 34px !important;
  margin-bottom: 15px;
}
.mailContact {
  color: #fff;
  font-family: FatFrankRegular;
  text-align: center;
  text-transform: lowercase;
  font-size: 49px !important;
  margin-bottom: 0;
  background: #fca10a;
  margin: auto;
}
.footerContactoText {
  font-size: 26px !important;
  font-family: FatFrankRegular !important;
  text-align: center;
  color: #169665;
  margin-top: 20px;
}
.txt {
  color: #fca10a !important;
  text-align: center;
}
p.resp.txt-dato {
  font-family: FatFrankRegular;
  font-size: 35px;
  line-height: 30px;
  color: #169665 !important;
  text-align: center;
}
.resp .txt-txM {
  color: #fca10a !important;
  text-align: center;
}
p.resp.txt-dato.strech1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.whiteSquare.big {
  max-width: 800px;
}

img.img-sociali {
  width: 80px;
}

.colIcons {
  display: inline-flex;
  margin: 0 20px;
}

p.resp.txt-dato.puntos {
  line-height: 20px;
  padding-bottom: 20px;
}

.ant-upload.ant-upload-drag {
  background: unset;
  border-style: dashed;
  border-width: 2px;
  border-color: #8a4f3b;
  padding: 0;
  /* min-height: 250px; */
  border: none !important;
}

.inputUploadFile {
  background: white;
  border: 1px solid grey;
}
.inputUploadFile .has-error .ant-form-explain,
.inputUploadFile .has-error .ant-form-split {
  color: #f5222d !important;
}

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: #8a4f3b;
}

img.img-line-contacto {
  max-height: 510px;
}

.row.justify-content-md-center.galleria-home.full-w.small.condiciones {
  margin-bottom: -20px;
}

.col-line {
  text-align: center;
}

/*registro*/
div#sheet-register {
  padding: 12%;
  padding-top: 10px;
  padding-bottom: 0px;
}

.p-txt {
  font-size: 11px;
}

.btn-reg-col {
  text-align: right;
  margin-top: 30px;
}

.container.participando {
  padding-left: 12%;
  padding-right: 12%;
}

.resp.txt-dato.white {
  font-size: x-large;
}

.strech1 {
  line-height: 35px;
}

.strech2 {
  line-height: 20px;
  color: white;
}

/*UPLOAD IMAGE*/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.texto-brw {
  color: white;
  font-family: oreo-sans-bold;
}

.left-browser-foto {
  width: 63%;
  border-radius: 10px;
  margin: auto;
}
.left-browser {
  border-radius: 10px;
  margin: auto;
}

.ant-upload-list-item-info {
  background: white;
}

.form-group.caja-img {
  color: rebeccapurple;
  /* box-shadow: 0 0 black; */
  border-color: white;
  /* border-style: dotted; */
  border-width: 3px;
  background: white;
}
.txt-participando {
  font-size: 42px !important;
  line-height: 42px !important;
  color: #fca10a !important;
}

input.form-control.file-name-txt {
  background: none;
  color: white;
  border: none;
}

.caja-b {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.input-group.borde-blanco {
  border: grey;
  border-style: solid;
  border-width: 1px;
  /* padding: 130px; */
  height: 300px;
      display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.form-group.py-3.receta-n {
  width: 400px;
  margin: auto;
}

#img-upload {
  width: 100%;
}

.txt-participando {
  padding: 40px 10% 0px 10%;
  color: #fca10a !important;
}

.bm-burger-button {
  right: 4% !important;
  background-color: white;
  color: #169665 !important;
  right: 45px;
  width: 50px;
  height: 50px;
}

/* .bm-burger-button {
    display: none;
} */
.checkboxReg .ant-form-item-control {
  line-height: 30px;
  font-family: FatFrankRegular !important;
}

p.resp.txt-dato.white-txt {
  padding: 0px 15% 20px 15%;
  font-size: 22px;
  color: white;
}

p.resp.txt-dato.ganador-txt {
  line-height: 40px;
}

p.resp.txt-dato.white-txt.int {
  color: white;
  max-width: 800px;
  margin: auto;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}
button.btn.btn-lg.boton-recetas.omitir-btn {
  background: #05388d;
}

.omitir-btn:hover {
  color: #51c6f9;
}

.gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
  column-width: 25%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.picsMason {
  width: 25%;
  padding: 8px 10px;
}
.picsMason .card {
  background: none;
}

.lazy-load-image-background.blur {
  width: 100%;
}

.card-body.gallery-card {
  padding: 10px;
  padding-bottom: 0px;
}

.pack-img {
  max-width: 250px;
}

.caja-img {
  text-align: center;
}

h2.tit.productos {
  font-size: 40px;
  padding-bottom: 20px;
}

.peso-galleta {
  font-family: oreo-sans-bold;
}

.recover-box {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 450px;
}
.btnRegistro{
  font-size: 25px !important;
  height: 40px !important;
}
.btnRegistro:hover{
  background-color: #12784F !important;
}
.ant-form-item-required::before {
  color: #51c6f9;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active,
.ant-btn.active {
  background: #169564;
  color: white;
  text-shadow: none;
  border-color: unset;
  /* background: linear-gradient(180deg, #ee3b8f, #ee3b8f); */
}

.upBtn.boton-recetas {
  border-radius: 9px;
  line-height: 40px;
}

.uploadFileName {
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* padding-bottom: 20px; */
  /* border-style: solid; */
  /* border-color: #8A4F3B; */
  padding: 5px 10px 5px 0px;
  border-radius: 8px;
  border-width: 1px;
  height: 43px;
  /* margin-top: 10px;; */
}

.partBox {
  position: absolute;
  right: 10%;
  top: 25px;
  max-width: 180px;
}

.fileNameTxt {
  line-height: 40px;
  color: #e1251b;
  font-family: FatFrank;
  text-transform: lowercase;
}
.fileNameTxtUpload {
  line-height: 22px;
  color: #e1251b;
  font-family: FatFrank;
  text-transform: lowercase;
  padding-top: 10px;
}

p.ant-upload-text {
  font-family: FatFrankRegular;
  color: #fca10a !important;
  font-size: 25px !important;
  text-align: center;
  display: inherit;
  align-items: center;
  margin: auto;
}
p.text-foto {
  width: 100% !important;
}
.uploadFileName {
  display: inline-block;
}

.ant-upload-list-item.ant-upload-list-item-done {
  display: none;
}

button.ant-btn.btn.btn-lg.boton-recetas.upl-btn {
  border-radius: 8px;
  width: 100%;
}

button.ant-btn.btn.btn-lg.omitir {
  background: linear-gradient(360deg, #595050, #8484848c);
  color: white;
  font-family: FatFrank;
  border-style: solid;
  border-color: #3c3c3c;
  width: 100%;
  border-radius: 8px;
}

.btn.focus,
.btn:focus {
  box-shadow: unset;
}

a:focus {
  text-decoration: none;
}

label.ant-form-item-required {
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
  font-family: FatFrankRegular !important;
}

.has-error .ant-form-explain,
.has-error .ant-form-split {
  color: #fca10a;
  font-family: FatFrankRegular;
}

label.ant-checkbox-wrapper {
  color: #169665;
  font-family: FatFrankRegular;
}
.ant-checkbox-inner:hover {
  border-color: #fca10a !important;
}
.ant-row.ant-form-item.ch {
  margin-bottom: unset;
}

.term {
  text-decoration: underline;
  color: #169665;
}

.texGris {
  text-align: center;
  margin: auto;
  color: #000;
  font-family: FatFrankRegular;
  margin-top: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.codigoLabelInferior {
  color: #fca10a;
  margin-top: 20px;
  font-size: 18px;
  font-family: FatFrankRegular;
}

form.formCodigo.ant-form.ant-form-horizontal.ant-form-hide-required-mark {
  max-width: 400px;
}

.trianglecod {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #d3d3d3 transparent;
  margin: auto;
}

.gris {
  position: relative;
  margin: auto;
  align-items: center;
  margin: 0;
}

div#sheet-cargarCodigo {
  margin-bottom: 60px;
}

.term:hover {
  color: #169665;
}

.success:focus {
  border: 1.5px solid #51c6f9;
}

/*-----PREMIOS--------------*/
.premios-title {
  margin-bottom: unset;
  margin-left: 20px;
}
.logo-box {
  max-width: 150px;
}

.premios {
  width: 100%;
}

img.premiosLinea {
  height: 200px;
}

.banner-box {
  max-width: 350px;
}

.linea {
  text-align: center;
}

.premio-tit {
  font-family: oreo-sans-bold;
  font-size: 19px;
  line-height: 20px;
  text-align: center;
}

img.premios {
  padding-bottom: 10px;
}

.premio-tit2 {
  font-family: oreo-sans-medium;
  font-size: 16px;
  color: #ffda9b;
  text-align: center;
}
.menuDes {
  display: flex;
}

.txt-light {
  font-family: oreo-sans-light;
}

.miniText {
  font-family: oreo-sans-light;
  text-align: center;
}

.btn-rwd {
  display: none;
}

.brand-content {
  text-align: left;
  max-width: 300px;
}
span.bluetxt {
  background: #fdd339;
  padding: 5px;
  color: #347c40;
  text-transform: uppercase;
}
.txt-dato.ganador-txt {
  margin-bottom: unset;
}

.txt-flag {
  background-repeat: no-repeat;
  background-size: 102%;
  background-position: center;
  font-family: oreo-sans-bold;
  font-size: 20px;
  color: white;
  line-height: 24px;
  text-align: center;
  margin: auto;
  padding: 20px;
  max-width: 560px;
  background: #ffd535;
  color: #347c40;
  font-family: FatFrank;
  text-transform: uppercase;
}

.row.homeTags {
  margin: auto;
  margin-top: 30px;
  justify-content: center;
}

.premio-foto {
  max-width: 380px;
}
.contenedorGanadorComercial{
  display: flex;
  justify-content: center;
}

img.img-p {
  width: 100%;
}

.whiteSquare.big.participar {
  height: 400px;
}

.whiteSquare.third.participar {
  height: 400px;
  height: 260px;
}

.card-body.gallery-card {
  border-radius: unset;
}

img.card-img-top {
  border-radius: unset;
}

img.card-img-top.galeria {
  border: solid;
  border-width: 10px;
  border-color: white;
}

.justify-content-md-center.gridTerra {
  margin-top: 60px;
}

img.cardImgTerra {
  margin: auto;
  display: flex;
  margin-top: -55px;
}

.card-body.gallery-card {
  position: relative;
  height: 60px;
}

p.resp.txt-dato.strech1 {
  margin-bottom: 10px;
  font-family: FatFrank;
}

.upBtn.boton-recetas {
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

p.productName {
  line-height: 20px;
}

.imgBtnMenu.newBtnLong {
  display: none;
}

.imgBtnMenu.btnLongFull {
  display: inherit;
}
.FooterLinks {
  max-width: 1100px;
  margin: auto;
  padding: 20px 0px;
}

.footerBackground {
  background-size: cover;
  background-repeat: no-repeat;
}

.conditions-description {
  font-size: 18px;
  font-family: GothamBook;
  margin-bottom: 40px;
}
.video {
  width: 60%;
  border: 0.4em solid;
}
.btnSelection {
  right: 150px;
  font-size: 18px !important;
  line-height: 0 !important;
  height: 30px;
}
.btnSubirFact {
  width: 150px;
  height: 40px;
  font: 22px;
}
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  font-family: FatFrankRegular;
 
}
.btnes{
  text-align: center;
  width: 100%;
}
/*_____RESPONSIVE______*/

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }

  h2.tit.productos {
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: -30px;
  }
}
@media (max-width: 590px) {
  .slashHiiden {
    display: none;
  }

  .whiteSquare.big {
    height: 923px !important;
    padding-top: 5px;
  }
  .whiteSquare {
    height: 338px;
  }

  img.cintaimg.big.wizard {
    max-width: 120px;
    margin-top: 10px;
  }
}
@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }

  p.resp.txt-dato.correo {
    font-size: 18px;
  }

  .bases {
    background: unset;
  }

  .container.bg {
    background: unset;
    padding-right: 25px;
  }
}

@media (min-width: 961px) and (max-width: 1199px) {
  .tittle {
    top: 37%;
  }
}

@media (min-width: 845px) and (max-width: 1091px) {
  .codBox {
    justify-content: center;
    position: absolute;
    right: 9%;
    top: 33%;
  }
}

@media (min-width: 1092px) {
  .codBox {
    vertical-align: middle;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 19%;
    top: 33%;
  }
}

@media (min-width: 1090px) {
  .s4 {
    margin-left: 8px;
  }
}
@media (max-width: 1025px) {
  .txtborder {
    width: 90%;
    font-size: 15px;
  }
  .borderContact {
    height: 37px;
  }
}
@media (min-width: 992px) {
  .dots {
    padding: 8px;
  }
  span.step {
    left: 25%;
  }

  button.btn.btn-lg.boton-recetas.omitir-btn {
    position: absolute;
    right: -20%;
  }
}

@media (min-width: 992px) and (max-width: 1445px) {
  .navbar-nav {
    flex-direction: unset;
    justify-content: flex-end;
  }
  .containerInside {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .pack-img {
    max-width: 200px;
  }
  .bm-burger-button {
    right: 45px !important;
    top: 37px !important;
  }
}

@media (max-width: 991px) {
  .paddint {
    margin-top: 1rem;
  }

  #sheet-login {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .col-line {
    display: none;
  }

  li.ses {
    display: none;
  }

  .sesion-icon {
    display: block;
  }

  .bloque-txt {
    margin-top: 30px;
  }

  .tit-row {
    flex-direction: row-reverse;
  }

  .left.app-oreo {
    max-width: 200px;
  }

  .rwd-pt {
    padding-top: 2rem !important;
  }

  .des {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }

  .partBox {
    display: block;
  }

  .col-sm-9.col-6.pb-3.menucol {
    display: none !important;
  }

  .lupa {
    right: 0px;
  }
}

@media (max-width: 929px) {
  .insideParticiparBox button {
    font-size: 22px !important;
    line-height: 22px !important;
  }
  .partBox {
    right: 15%;
  }
  .codBox {
    padding-bottom: 10px;
  }
  .marcasMobile {
    display: block;
  }
  .marcasMobile img {
    width: 75% !important;
    margin: auto;
  }
  .slider-control-bottomcenter ul {
    display: none !important;
  }
  .slider-control-centerright button,
  .slider-control-centerleft button {
    opacity: 0.5 !important;
    color: #000 !important;
    font-size: 30px !important;
    border: none !important;
    background: transparent !important;
  }

  .marcasDes {
    display: none;
  }
  .bm-burger-button {
    top: 8px !important;
  }
}

@media (min-width: 769px) {
  .sesion-icon {
    top: 40%;
    position: absolute;
    right: 10%;
  }
  .bm-burger-button {
    top: 32px !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  button.btn.btn-lg.boton-recetas.omitir-btn {
    position: absolute;
    right: 15px;
  }
}

@media (max-width: 768px) {
  img.imgBtnMenu.participarImg{
    margin-top: -30px;
  }
  /* .containerLogoHome {
    display: none !important;
  } */
  /* .containerMobileLogoHome {
    display: flex !important;
    justify-content: center;
  } */

  .participar-m {
    margin-top: 20px;
  }
  .row.menu-app {
    margin-top: unset;
  }

  img.mini-brand-img {
    max-width: 80px;
  }

  span.step {
    top: 13%;
    left: 33%;
  }

  img.step-img {
    max-width: 80px;
  }

  h3.tit-home {
    font-size: 30px;
    line-height: 30px;
  }

  .bottomBox {
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 0;
  }

  .des {
    display: none;
  }

  li.participar-m {
    display: none;
  }

  .btn-rwd {
    display: block;
    font-family: oreo-sans-bold;
    font-size: 18px;
    color: white;
    text-shadow: 0px 3px 4px #00000069;
    padding: 10px 15px;
  }

  .brand-content {
    text-align: left;
    max-width: 250px;
  }

  .main {
    display: inline-flex;
  }

  .r-main {
    align-items: center;
  }

  img.sesion-img {
    margin-top: unset;
  }

  .sesion-icon {
    position: absolute;
    right: 10%;
  }
}

@media (max-width: 768px) {
  div#sheet-register {
    padding: 3%;
  }
  .container.productsBg {
    margin-top: 20px;
  }
  .video {
    width: 100% !important;
  }
  .number {
    font-size: 7vw !important;

  }
  .numberCenter {
    background-position: center;
    background-size: contain;
    height: 3em;
  }
  .row.homeTags {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  .imgBoxHome {
    max-width: none;
  }
  .ant-col-xs-12 {
    width: 80% !important;
  }
  .cookieHome {
    width: 89%; 
  }

  .row.row-center.second.pt-2 {
    padding-left: unset;
  }
  .container.comoParticipar {
    max-width: 800px;
  }

  .bm-burger-button {
    right: 10px;
    top: 16px;
  }

  .whiteBox.second.participar {
    margin-top: -30px;
  }

  .whiteSquare.big.participar {
    height: 580px !important;
    padding-top: 80px;
    margin-top: -10px;
  }

  .partBox {
    top: 8px;
  }

  .brand-content.animated.heartBeat {
    width: 200px;
    margin-top: -20px;
    margin-left: 0px;
  }
  .tittle {
    margin-top: 10px;
  }
  .tittle h1 {
    padding: 8px;
    font-size: 25px;
    line-height: 20px;
    max-width: 200px;
  }
  .number {
    font-size: 28px;
  }
  .containerInside {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 95%;
  }
  .whiteSquare.big.contact {
    max-width: 500px;
    height: 550px;
    margin-top: -10px;
  }
  p.mailContact {
    font-size: 34px !important;
  }
  .contactoCartel{
    font-size: 34px;
  }
}

@media (min-width: 491px) and (max-width: 767px) {
  .txt-flag {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 592px) {
  .whiteSquare.big.contact {
    height: 500px !important;
    padding-top: 70px;
    margin-top: unset;
  }
}

@media (max-width: 545px) {
  #navbar {
    padding: unset;
    font-size: 15px;
  }

  li {
    padding-right: unset;
  }

  li.como {
    max-width: 110px;
  }
}

@media (max-width: 575px) {
  h1.bitTitle {
    font-size: 25px;
  }

  .imgBoxHome {
    max-width: 375px;
  }

  .rwd-botones {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  ol {
    padding-left: 10px;
  }

  li.num {
    font-family: oreo-sans-bold;
    font-size: 14px;
  }
  .tit {
    font-size: 30px;
  }

  p.resp.txt-dato.reg-tit,
  .titCod {
    font-size: 27px;
    color: green;
  }

  .tit-row {
    flex-direction: column-reverse;
  }
  .condiciones-txt {
    padding: 20px;
  }

  .faq {
    margin-left: 10px;
  }

  .bases {
    font-size: 20px;
  }

  img.mini-brand-img {
    max-width: 52px;
  }

  span.step {
    top: 0;
    left: 18%;
  }

  img.step-img {
    max-width: 50px;
  }

  .linea {
    display: none;
  }

  .mancha {
    display: none;
  }

  .imgBtnMenu.newBtnLong {
    display: block;
  }

  .imgBtnMenu.btnLongFull {
    display: none;
  }
}

@media (min-width: 546px) and (max-width: 768px) {
  a.b-participar.b-menu.btn-rwd {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }

  .brand-content {
    max-width: 180px;
  }
}

@media (max-width: 545px) {
  .r-main {
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
  }

  .sesion-icon {
    position: relative;
    right: unset;
  }

  .brand-content {
    max-width: 160px;
  }
}

@media (max-width: 542px) {
  a.btn.boton-recetas.btn-home-r {
    font-size: 1.2em;
  }
  .lupa {
    max-width: 200px;
  }

  .row.r-main {
    margin: unset;
    padding-left: 10px;
  }

  p.resp.txt-dato.contactoCartel {
    font-size: 32px !important;
  }

  img.brand-img {
    padding: unset !important;
    margin: unset;
    display: flex;
    justify-content: center;
    width: 60% !important;
    margin: auto;
  }

  .slider {
    padding: 0 25px 0 15px;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .centrado.col-2-btn.pb-5.btnsMsg {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    padding-bottom: unset !important;
  }
  .bts{
    line-height: 0 !important;
    height: 40px !important;
    font-size: 20px !important;
  }
  .card-white{
    border-radius: 15px !important;
  }
  a.btn.btn-lg.boton-recetas.begin {
    margin-top: 20px;
  }
}

@media (max-width: 485px) {
  .btn-foto {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .copy p {
    font-size: 14px;
  }
  .cardcontact{
    padding: 14px !important;
  }
  p.ant-upload-text {
    font-size: 22px !important;
  }

  .card-imgs {
    margin-top: 30px;
    display: none;
  }
  .mobile{
    display: block;
    margin-top: 30px;
  }
  .tittle {
    margin-top: 30px;
    padding: 0 5px;
  }
 /*  .btn-part {
    margin-right: 35px;
  } */

  p.mailContact {
    font-size: 23px !important;
  }

  p.resp.txt-dato.contactoCartel {
    font-size: 20px !important;
    line-height: 25px !important;
  }

  .whiteSquare.big.contact {
    height: 450px !important;
    padding-top: 70px;
    margin-top: unset;
  }
}

@media (max-width: 375px) {
  p.resp.txt-dato.contactoCartel {
    font-size: 17px !important;
  }
  .whiteBox.second{
    margin-top: -20px !important;
  }
  .btn-foto {
    font-size: 10px;
    padding: unset;
  }

  i.anticon.anticon-upload {
    display: none;
  }

  ant-btn > .anticon + span,
  .ant-btn > span + .anticon {
    margin-left: unset;
  }
}

@media (min-width: 482px) {
  button.btn.btn-lg.boton-recetas.new-cod {
    margin-left: 10px;
  }
}

@media (max-width: 491px) {
  button.btn.btn-lg.boton-recetas.new-cod {
    margin-top: 10px;
  }

  p.resp.txt-dato.txt-participando {
    padding: 30px 10px 0px 10px;
    font-size: 30px;
    line-height: 30px;
  }
  p.resp.txt-dato.white-txt {
    padding: 0px 15% 10px 15%;
    font-size: 18px;
  }

  .int {
    line-height: 18px;
  }

  h2.white-tit {
    font-size: 25px;
  }

  img.imgBtnMenu {
    width: 100%;
  }

  .homeMenuBtn.participarBox {
    margin-top: -25px;
  }

  span.txt-footer {
    display: grid;
    /* line-height: 12px; */
    color: white;
  }
}

@media (max-width: 490px) {
  .txt-flag {
    background-image: url("./images/flag-03.png");
    font-size: 19px;
    background-size: 95%;
    padding-left: 60px;
    padding-right: 60px;
  }

  p.resp.faq {
    font-size: 16px;
    text-align: left;
    line-height: 19px;
  }

  p.resp.faq.empaques {
    line-height: 20x;
    font-size: 16px;
    line-height: 20px;
  }

  .container.wizard {
    height: 100%;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }

  p.resp.txt-dato.txt-participando {
    margin: unset;
    padding-top: 50px;
  }

  p.resp.txt-dato.white-txt.int {
    font-size: 23px;
    line-height: 35px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  .whiteSquare.participar {
    height: 240px;
  }

  .whiteSquare.big.participar {
    height: 700px !important;
  }

  .roaster.red.tit.long {
    line-height: 40px;
    padding: 30px 0px 20px;
  }

  .col.md-4.tabCenter.header {
    font-size: 10px;
  }

  .col.md-4.tabCenter {
    font-size: 13px;
  }

  .col.md-4.tabLeft {
    font-size: 13px;
  }

  .lupa {
    max-width: 200px;
    right: -20px;
    margin-top: 20px;
  }

  .form-group.caja-img {
    padding: unset;
  }

  .foto-box {
    padding: unset;
  }

  .foto-preview-compartir {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-browser-foto {
    width: unset;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .centrado {
    text-align: center;
  }
  .btnVolver {
    margin-bottom: 10px;
  }
  .caja-insta {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  p.resp.txt-dato.ganador-txt {
    font-size: 30px;
    line-height: 32px;
  }

  .txt-flag {
    font-size: 15px;
    line-height: 19px;
    background-size: 100%;
    padding-left: inherit;
    padding-right: inherit;
  }

  .arrow-up {
    right: 12px;
  }

  .dropdown-content {
    margin-left: -145px;
    margin-top: 25px;
  }

  .texto-brw {
    font-size: small;
  }

  .miniBtn {
    padding: 5px 15px;
    font-size: 1rem;
  }

  .navbar-nav {
    justify-content: center;
  }

  li.participar-m {
    width: 100%;
    margin-left: 33.3%;
    margin-right: 33.3%;
    margin-top: 5px;
  }

  .right.galleta {
    max-width: 100px;
  }

  img.mini-brand-img {
    max-width: 52px;
  }

  span.step {
    top: 10%;
    left: 28%;
  }

  .step {
    font-size: x-large;
  }

  img.step-img {
    max-width: 50px;
  }

  .sesion-icon {
    right: 5%;
  }

  img.sesion-img {
    width: 32px;
  }

  label.ant-checkbox-wrapper {
    line-height: 20px;
  }
}

@media (max-width: 410px) {
  #navbar {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .faq {
    margin-left: 5px;
  }

  ol {
    padding-left: 5px;
  }

  .table td,
  .table th {
    padding: 5px;
  }

  a.b-participar.b-menu.btn-rwd {
    font-size: 12px;
    width: auto;
    height: inherit;
    padding: 5px 5px 5px 5px;
  }

  .brand-content {
    max-width: 130px;
  }

  li.como {
    max-width: 90px;
  }

  .crea-bn {
    max-width: 450px;
    margin-top: -10px;
  }
}

@media (max-width: 380px) {
  span.bold-text {
    font-size: 32px;
  }

  .small-txt {
    font-size: 12px;
  }
  p.ant-upload-text {
    font-size: 8px !important;
  }
}

@media (max-width: 376px) {
  .btnSelection {
    font-size: 15px;
  }
  table.table {
    font-size: 11px;
  }

  p.resp.txt-dato.ganador-txt {
    font-size: 25px;
    line-height: 27px;
  }

  a.btn.boton-recetas.btn-home-r {
    font-size: 12px;
  }

  img.menuImg {
    width: 67%;
    margin-left: 32px;
  }
}
@media (max-width: 321px) {
  .tittle h1{
    font-size:  23px !important ;
  }
  .btn-part {
    width: 125px;
    font-size: 17px !important;
  }

  li.como {
    margin-top: unset;
  }

  #navbar {
    font-size: 10px;
  }

  .col-lg-8.col-xs-12.pb-3 {
    padding-bottom: unset !important;
  }
}

.fotoContainer .ant-form-item {
  margin-bottom: 0px;
}

.contenedorProgress {
  max-width: 450px;
  margin: auto;
}
.progressUpload .ant-progress-text {
  color: white;
}

.contenedorImagenReceta img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.contenedorImagenRecetaSmall img {
  width: 100%;
  height: 236px;
  object-fit: cover;
  font-family: "object-fit: cover;";
  border: 10px solid white;
}
.menuAdap {
  display: none;
}

.contenedorImagenRecetaBig img {
  width: 100%;
  /* height: 536px; */
  /* height: calc(65% - 68px); */
  object-fit: cover;
  font-family: "object-fit: cover;";
}

@media (max-width: 960px) {
  .bm-burger-button {
    display: block;
  }
  .picsMason {
    width: 50%;
  }
  li.animated.swing.liMenu.participar {
    margin-right: 0px;
  }
  .b-item.b-menu {
    padding-right: 7px !important;
  }
  .menuAdap {
    display: flex;
  }
  .menuAdap > div:nth-child(2) {
    position: relative;
    /* left: 60%; */
    padding-top: 34px;
  }
  .logoAdp {
    height: 110px;
  }
}
@media (max-width: 590px) {
  .picsMason {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .whiteSquare {
    height: 190px;
  }

  .row.row-center.second.pt-2 {
    padding-left: unset;
  }

  .whiteSquare.big {
    height: 562px;
  }

  .whiteBox.second {
    margin-top: -20px;
  }

  img.cintaimg.big {
    margin-top: 30px;
  }

  .row.row-center.third.pt-4 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .whiteSquare.third {
    height: 270px;
  }
}

@media (min-width: 576px) and (max-width: 808px) {
  .dropdown.dBoton.btn-c {
    padding-top: 20%;
  }
}

.galleryBrand {
  text-align: center;
  position: relative;
  margin-top: -50px;
}

input,
button,
select,
optgroup,
textarea,
.ant-select {
  font-family: 'FatFrank' !important;
}


input,
select,
textarea,
.ant-select,
.ant-calendar-column-header-inner {
  font-family: 'FatFrank' !important;
  font-size: 20px !important;
}
.ant-alert-message{
  font-family: FatFrankRegular;
}

.ant-input,
.ant-select-selection {
  border: 2.2px solid #fca10a !important;
  height: 32px;
  font-size: 18px;
  border-radius: 9px;
  padding: 19px 0px !important;
}
.txts {
  font-family: CrackersBrusher !important;
}
@media (max-width:1200px){
  .txts{
    font-size: 38px !important;
  }
}
@media (max-width:375px){
  .txts{
    font-size: 10vw !important;
  }
  .cuadroBotonPrimario p{
    font-size: 11vw !important;
  }
}
.botonPrimario {
  background-color: #169564 !important;
  border-radius: 10px !important;
  border: 1px solid #0f6341 !important;
  box-shadow: 2px 3px 2px 2px #0f6341 !important;
  font-size: 43px;
  line-height: 32px;
  padding-bottom: 0.4rem;
  font-family: FatFrankRegular !important;
  text-transform: uppercase;
}
.cuadroBotonPrimario {
  background-color: white;
  width: auto;
  padding: 17px 0px 1px;
  margin: auto;
  border-radius: 1.5em;
  text-align: center;
  height: 125px;
  max-width: 320px;
}
@media (max-width:425px){
  .cuadroBotonPrimario{
    height: 120px;
  } 
}
.homeMenuBtn.participarBox button:hover {
  background-color:  #12784F !important;
}
.cuadroBotonPrimario p {
  color: #169564;
  font-family: CrackerBrusher !important;
  font-size: 46px;
  line-height: 32px;
}
.cuadroBotonPrimario span {
  color: #f08e00;
  font-family: FatFrankRegular !important;
  font-size: 43px;
}

.contenedorBotonesHome {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.botonesHome,
.botonesHome2 {
  position: relative;
}

.botonesHome .ant-btn, .botonesHome2 .ant-btn {
  font-size: 35px !important;
}

@media (max-width: 768px) {
  /* .homeMenuBtn.participarBox {
    right: 22% !important;
  } */
  .txtborder {
    width: 90%;
    font-size: 17px;
  }
  .borderContact {
    height: 43px;
  }
  .btnSelection {
    right: 130px;
    font-size: 18px !important;
  }
}
@media (max-width: 767px){
  .botonesHome2{
    margin-top: 35px;
  }
}

@media (max-width: 545px){
  .bm-burger-button {
      right: 23px !important;
  }
}

@media (max-width: 425px) {
  .bm-burger-button {
    right: 11px !important;
}
  .ghostMenu .homeMenuBtn.participarBox button{
    left: -5px !important;
  }
  .botonesHome2 {
    margin-top: 70px;
  }
  /* .homeMenuBtn.participarBox {
    right: 30% !important;
  } */
  .txtFooter {
    padding-left: 50px;
  }
  .txtborder {
    width: 70%;
    font-size: 15px;
  }
  .borderContact {
    height: 36px;
  }
  .btn-part {
    left: 35px !important;
  }
  .tittle {
    right: 10px !important;
  }
  .botonPrimario {
    font-size: 15px;
  }
  .btnSelection {
    right: 45px !important ;
    font-size: 18px !important;
  }
}
@media (max-width: 375px) {
  .copy p {
    font-size: 13px;
  }
  .btnSelection {
    right: 30px !important ;
    font-size: 18px !important;
  }
  /* .homeMenuBtn.participarBox {
    right: 33% !important;
  } */
  .content {
    margin-top:30px;
  }
  img.homeLogImg{
      width: 90%;
      margin: auto;
  } 
  .btn-part {
    left: 35px !important;
    width: 140px;
  }
  .tittle {
    right: 10px !important;
    width: 52%!important  ;
  }
  .homeMenuBtn.participarBox button {
    /* left: 15px !important; */
    font-size: 5.5vw!important;
    /* width: 37vw; */
  }
  .borderContact {
    height: 37px;
  }
}

@media (max-width: 322px) {
  .botonesHome2{
    margin-top: 24px;
  }
  .tittle {
    width: 58%!important  ;
  }
  .ghostMenu .homeMenuBtn.participarBox button {
    left: -18px !important;
  }
  .txtborder {
    width: 87%;
  }
  .brand-content.animated.heartBeat {
    margin-left: -25px;
  }
  .btnSelection {
    right: 8px !important ;
    font-size: 18px !important;
  }
  p.ant-upload-text {
    font-size: 19px !important;
  }

  .btnSelecciones {
    margin-bottom: 10px;
  }
  .txt-footer {
    padding-left: 50px;
  }
  /* .homeMenuBtn.participarBox {
    right: 30% !important;
  } */
  .cuadroBotonPrimario p span {
    font-size: 10vw !important;
  }
  .homeMenuBtn.participarBox button {
    /* font-size: 4.3vw !important; */
    /* width: 31vw; */
    /* width: 100% !important; */
    padding: 4px 10px !important;
  }
  .bm-burger-button {
    right: 10px !important;
  }
}
.ant-select-selection__rendered {
  margin-top: 5px;
  position: absolute !important;
  top:0 !important;
}
.botonSecundario {
  background: #6e6e6e !important;
  text-transform: uppercase;
  font-family: FatFrankRegular;
}
.botonSecundario:hover {
  background: #525252 !important;
}
.foto-box {
  max-width: 550px;
  margin: auto;
}
.boton100 {
  width: 100%;
  font-size: 30px;
}
.menuMovil {
  width: 100%;
  margin-bottom: 20px;
}
.menuMovil button {
  font-size: 24px !important;
}
.faq-txt {
  max-width: 950px;
  margin: auto;
  color: white;
}
.faq-title {
  font-family: FatFrankRegular;
  font-size: 24px;
  margin-top: 40px;
}
.faq-description {
  font-family: GothamBook;
  font-size: 18px;
}

.felicitaciones{
  color: #f08e00 !important;
  font-family: CrackerBrusher !important;
  font-size: 5vw;
  margin-bottom: 0;
}
.parrafoPremio{
  color: #169564;
  font-family: FatFrankRegular;
  text-align: center;
  font-size: 32px;
}
.parrafoPremioNaranja{
  color:white;
  text-align: center;
  font-family: FatFrankRegular;
  background-color: #f08e00;
  font-size: 18px;
  padding: 10px;
}
.botonNuevoCodigo, .botonInicio{
  display: flex;
  justify-content: center;
}
.botonInicio{
  margin-top: 5px;
}
.linkNuevoCodigoSeguiParticipando{
  width: 74%;
}
.linkNuevoCodigo{
  width: 100%;
}
@media(max-width:2560px){
  .parrafoSeguiParticipando{
    font-size: 3vw !important;
  }
}
@media(max-width:1024px){
  .parrafoSeguiParticipando{
    font-size: 6vw !important;
  }
}
@media (max-width:425px){
  /* .contenedorImagenesRegistro{
    margin-top: 75px !important;
  } */
  .footerContactoText{
    font-size: 14px !important;
  }
  .linkNuevoCodigo{
    width: 100%;
  }
  .linkNuevoCodigoSeguiParticipando{
    width: 90%;
  }
}
.linkNuevoCodigo button, .linkNuevoCodigoSeguiParticipando button{
  width: 100%;
}

.parrafoSeguiParticipando{
  color: #f08e00;
  font-family: FatFrankRegular;
  text-align: center;
  font-size: 3vw;
}
@media (max-width:375px){
  .contenedorImagenesRegistro{
    left: -21vw !important;
  }
}
@media (max-width:320px){
  .containerInside{
    margin-top: 18px;
  }
  .imagenFooterMobile{
    width: 100%;
  }
  p.resp.txt-dato.contactoCartel{
    font-size: 14px !important;
  }
  p.mailContact {
    font-size: 18px !important;
  }
  .footerContactoText{
    font-size: 12px !important;
  }
}
.contenedorImagenesRegistro{
  display: flex;
  justify-content: center;
  margin-top: 75px !important;
  text-align: center;
}
.contenedorImagenesRegistro img {
  margin: auto;
}




#formRegistro{
  margin: 35px auto;
}
#cardGanadorComercial{
  width: 78%;
  margin: auto;
  padding: 22px 15px 0px 20px;
  border-radius: 14px;
}
#contenedorCodigo{
  width: 600px;
}
@media(max-width:425px){
  #contenedorCodigo{
    width: 90%;
  }
  #cardGanadorComercial{
    width: 100%;
  }
}
@media(max-width:320px){
  .copy p {
    font-size: 10px;
  }
  .resp.txt-dato.titCod{
    font-size: 10vw;
  }
  #contenedorCodigo{
      width: 95%;
  }
}

#contenedorDeSeguiParticipando{
  background-color: white;
  margin: auto ;
  padding: 23px 0;
  border-radius: 15px;
}

#contenedorDeRegistro,#contenedorDeSeguiParticipando{
  width: 850px;
}
@media (max-width:768px){
  #contenedorDeRegistro, #contenedorDeSeguiParticipando{
    width: 90%;
  }
}

.ant-form label{
  font-size: 23px !important;
  border-radius: 12px !important;
}

.ant-checkbox + span{
  font-size: 20px !important;
}
#nuevoCodigo, #nuevoCodigo2{
  margin-bottom: 15px;
}
@media (min-width:2560px){
  .felicitaciones{
    font-size: 3vw;
  }
}
@media (max-width:2560px){
  #nuevoCodigo, #nuevoCodigo2{
    font-size: 1.7vw !important;
  }
  .felicitaciones{
    font-size: 3vw;
  }
}
@media (max-width:1440px){
  #nuevoCodigo, #nuevoCodigo2{
    font-size: 3vw !important;
  }
  .parrafoSeguiParticipando {
    font-size: 5vw;
  }
      .felicitaciones{
    font-size: 5vw;
  }
}
@media (max-width:1024px){
  #nuevoCodigo, #nuevoCodigo2{
    font-size: 4vw !important;
  }
  .felicitaciones{
    font-size: 7vw;
  }
}
@media (max-width:768px){
  /* #nuevoCodigo, #nuevoCodigo2{
    font-size: 3vw !important;
  } */
  .felicitaciones{
    font-size: 10vw;
  }
}
@media (max-width:425px){
  #nuevoCodigo, #nuevoCodigo2{
    font-size: 5vw !important;
  }
  .felicitaciones{
    font-size: 11vw;
  }
}
@media(max-width:768px){
  .fotoContainer{
    height: auto !important;
    padding-bottom: 16px !important;
  }
}
#botonDeFoto{
  font-size: 24px !important;
  padding: 1px 7px !important;
}
@media(max-width:425px){
  #botonDeFoto{
    font-size: 6vw !important;
  }
}
@media(max-width:375px){
  #botonDeFoto{
    font-size: 5vw!important;
  }
}
@media(max-width:576px){
  .btnSubirFact,.btnVolver{
    font-size: 21px !important;
  }
}
#botonParaComercios{
  position: absolute;
  right: -53px;
}
@media (max-width:991px){
  #botonParaComercios{
    position: absolute;
    right: -10vw;
  }
}
@media (max-width:929px){
  #botonParaComercios{
    font-size: 28px !important;
    line-height: unset !important;
  }
}
@media (max-width:430px){
  #botonParaComercios{
    width: '100%' !important;
    font-size: 5.5vw !important;
  }
}
@media (max-width:425px){
  #botonParaComercios{
    left: -21vw !important;
  }
}
@media (max-width:375px){
  #botonParaComercios{
    left: -21vw !important;
    font-size: 5vw !important;
  }
}

.ant-upload.ant-upload-drag .ant-upload {
  padding: 0 0 !important;
}
.ant-upload.ant-upload-drag .ant-upload-drag-container {
  display: flex !important;
  padding: 20px 0px 20px 20px !important;
}
.contenedorBotonesFoto{
  display: flex;
  justify-content: space-between;
}

@media (max-width:605px){
  .contenedorBotonesFoto{
    display: unset;
  }
}
@media(max-width:320px){
  .comoParticiparNumeros{
    width: 21% !important;
  }
}
 @media(min-width:768px){
   .efectoLogo:hover{
     transition: transform 1s;
     transform: scale(1.1);
   }
 }
 /* .ant-select-selection-selected-value{
   max-width: 77% !important;
 }
 @media(min-width:991px){
   .ant-select-selection-selected-value{
     max-width: 63% !important;
   }
 }
 @media(min-width:768px){
   .ant-select-selection-selected-value{
     max-width: 100% !important;
   }
 }
 @media(min-width:490px){
   .ant-select-selection-selected-value{
     max-width: 77% !important;
   }
 }
 @media(min-width:375px){
   .ant-select-selection-selected-value{
     max-width: 69% !important;
   }
 }
 @media(min-width:320px){
   .ant-select-selection-selected-value{
     max-width: 48% !important;
   }
 } */

 .textoNaranja {
  color: #fca10a !important;
 }
 @media(max-width:375px){
  .textoNaranja {
    font-size: 38px;
   }
   .botonMensaje{
     font-size: 25px !important;
   }
}

@media(max-width:600px){
  .botonesHome .homeMenuBtn.participarBox button {
    font-size: 33px !important;
  }
  .botonesHome2 .homeMenuBtn.participarBox button {
    font-size: 33px !important;
  }
}
@media (max-width: 768px) {
  div#sheet-register {
    padding: 3% 0px;
  }
  .container{
    padding: 0px 10px;
  }
}


.ghostMenu .homeMenuBtn.participarBox {
  margin-top: 0px !important;
}
.ghostMenu .homeMenuBtn.participarBox button {
  height: auto !important;
  padding: 6px;
}

input, .ant-input, .ant-select, select {
  font-family: arial !important;
  font-weight: bold !important;
  padding-left: 10px !important;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}
